/* 
    Name: Yu Chan Jeong
    Section: CSCI 2113.0  Seq 881
    Date: 02/22/23
    Description: This is the foundational css styling page for both the index.html file and the other_page.html file. 
    Content: The 5 sections in this file correspond to the 5 sections in the index.html file. However, the same rules 
        are used in the other_page.html file. 
 */
@font-face {
    font-family: waterbrushfont;
    src: url(WaterBrush-Regular.ttf); 
}

body{
    padding: 0%;
    margin: 0%;
}

/* Top Navigation Bar */

#top_bar {
    background-color: black;
    color: white;
    height: 3em;
    
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;

    font-size: 1em;
    font-family: 'Times New Roman', Times, serif

}

body, h1, nav, .nav_bar, #about_drop_down, #search_engine_input, ul, img{
    padding: 0%;
    margin: 0%;
}

h1{
    padding-left: 0.5em;
    width: 20%; 
    font-size: 2em;
    font-weight:normal;
    font-family: waterbrushfont; 
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:end;
    gap: 3em; 
    width: 80%;   
    list-style-type: none; 
    padding-right: 0.5em;
    
}

#about_drop_down{
    background-color: white;
    color: black;
    width: 7%;
    height: 10%;
    position: absolute;
    right: 22em; 
    top: 1em;
    visibility: hidden;

}

#about_drop_down ul{
    list-style-type: none;
    text-align: center;
}

#nav_about:hover #about_drop_down{
    visibility: visible; 
}

#search_engine{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search_engine_input{
    visibility: visible;
    height:40%;
    width: 10em;
}

/* Video with Block Quote */

#block_quote_background{
    width: 40%;
    height: 40%; 
    background-color: lightgray;
    opacity: 60%; 
    border-radius: 5%;
    position: absolute;
}
blockquote {
    width: 30%;
    height: 40%; 
    position: absolute;
    font-size: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif

}

#video_display_and_quote{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Midway Black Strip with Description */
#restaurant_hist_sec{
    display: flex; 
    justify-content: center;
    align-items: center;
}


#restaurant_hist_bgd{
    height: 38em;
    width: 100%;
    background-color: black;
}

#restaurant_hist_sec > p {
    width: 90%;
    color: white;
    position: absolute;

    font-size:2em;
    line-height: 1.5em;
}

/* 2 images with buttons */

#pics_and_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pics_and_buttons #pics{
    display: flex;
    flex-direction: row;
}


#pics_and_buttons #pics img{
    width: 49.7%;
    border-style: solid;
    border-color: black;
}

#pics_and_buttons #buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40%; 


    position: absolute;
    width: 100%;
    font-size: 2em;
}

#pics_and_buttons #buttons button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    border-radius: 0.25em;
    box-shadow: 0.25em 0.25em;
    opacity: 80%;
}

/* Address and copyright */

footer{
    width: 100%;
    color: white;
    font-size: 1em;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-family: 'Times New Roman', Times, serif

}

#footer_black_bgd{
    width: 100%;
    height: 7em;
    background-color: black;
}

footer address{
    padding-left: 1em;
    width:90%;
    position: absolute
}

footer address span {
    position: relative;
    left: 35%;
}





